/*

This stylesheet is for specific centering of the project logos 
and images

*/

.projectwrapper {
  display: flex;
  height: 100vh;
  align-items: center;
}

.ARCpic {
  background: url(./../../images/project_logos/arc.png);
}

.SENpic {
  background: url(./../../images/project_logos/SEN.png);
}

.SMpic {
  background: url(./../../images/project_logos/Sustainable\ Mobility.png);
}

.AquaCulturepic {
  background: url(./../../images/project_logos/Aquaculture.jpg);
}

.SFpic {
  background: url(./../../images/project_logos/SOIL.png);
}

.SPRpic {
  background: url(./../../images/project_logos/solar\ panel\ reboot.png);
}

.Currentspic {
  background: url(./../../images/project_logos/Currents.png);
}

.ICN2030Ppic {
  background: url(./../../images/project_logos/ICN_Policy.png);
}

.REALpic {
  background: url(./../../images/project_logos/REAL.jpg);
}

.SSTpic {
  background: url(./../../images/project_logos/Ospri.png);
}

.Solarizepic {
  background: url(./../../images/project_logos/solarize.jpeg);
}

.ICN2030Mpic {
  background: url(./../../images/project_logos/ICN\ Modeling.png);
}

.background0 {
  background-size: 15rem 15rem;
  background-repeat: no-repeat;
  background-position: top 5% right 5%;
  background-color: #f2f3f3;
}

.background1 {
  background-size: 5rem 5rem;
  background-repeat: no-repeat;
  background-position: top 2% right 2%;
  background-color: #e8eeee;
}

.leftcontent {
  background-size: 5rem 5rem;
  background-repeat: no-repeat;
  background-position: top 0% left 0%;
  border-left: 10px solid black;
  padding: 5rem 2rem 2rem 2rem;
}

@media only screen and (max-width: 1050px) {
  .leftcontent {
    background-size: 3rem 3rem;
    border-left: 5px solid black;
    padding: 1rem 1rem 1rem 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .leftcontent {
    background-size: 3rem 3rem;
    border-left: 4px solid black;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}

@media only screen and (max-width: 700px) {
  .projectwrapper {
    height: 100%;
  }

  .leftcontent {
    background-size: 3rem 3rem;
    border-left: 4px solid black;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}
