.gray {
  display: flex;
  flex-direction: column;
  background-color: hsl(172, 41%, 85%);
  text-align: center;
  padding: 5%;
  margin-top: 5%;
}

.header {
  margin: auto;
  font-weight: 400;
  font-size: 30px;
}

.desc {
  background-color: black;
}

.white {
  padding-top: 6%;
  width: 40%;

}

.carouselWrapper {
  width: 40%;
  padding-top: 5%;
  padding-bottom: 5%;
}

@media (min-width: 701px) {
  .imageCarousel {
    height: 420px;
  }

  .carouselWrapper {
    width: 600px;
    height: 420px;
  }
}

@media (max-width: 700px) {
  .imageCarousel {
    height: 360px;
  }

  .carouselWrapper {
    width: 480px;
    height: 360px;
  }
}

@media (max-width: 525px) {
  .imageCarousel {
    height: 270px;
  }

  .carouselWrapper {
    width: 360px;
    height: 270px;
  }
}

.cytoscape {
  width: 300px;
  height: 300px;
}

.cytoscape:hover {
  text-decoration: underline;
}

.cytoscapeContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}

.metric {
  text-align: center;
  width: 300px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Source Sans Pro', 'sans-serif';
}

.number {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Source Sans Pro', 'sans-serif';
  color: 'white';
}

.graphicDiv {
  margin: 3%;
}

.solarizeChart {
  width: 70%;
  margin: auto;
  padding-bottom: 5%;
}

.solarizeCaption {
  text-align: center;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  font-family: 'Source Sans Pro', 'sans-serif';
}

.solarizeQuote {
  text-align: center;
  font-size: 18px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  font-family: 'Source Sans Pro', 'sans-serif';
}

@media screen and (max-width: 500px) {
  .solarizeChart {
    display: none;
  }
}

.segVideo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4%;
}

.segQuote {
  text-align: center;
  font-size: 18px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  font-family: 'Source Sans Pro', 'sans-serif';
  color: rgb(97, 97, 97);
}

.map {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1121px) {
  .map {
    height: 467px;
  }
}

@media screen and (max-width: 1120px) {
  .map {
    height: 900px;
  }
}

.currentsChart {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4%;
  height: 430px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}