.projects {
    display: inline-block;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 0%;
    padding-left: 15%;
    width: 20%;
}

.projects .project {
    display: flex;
    align-items: top;
    justify-content: center;
    width: 130%;
}

.projects .text {
    display: block;
    padding-left: 5%;
}

.projects .name {
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
}

.projects .subtitle {
    font-family: "Rajdhani", sans-serif;
    font-size: 16px;
}

.projects .logos {
    width: 50%;
    height: 50%;
}

.projects .logos:hover {
    opacity: 80%;
}