.projects .project {
    position: relative;
    align-items: top;
    justify-content: center;
    width: 100%;
}

.projects .text {
    display: block;
}

.projects .name {
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
}

.projects .subtitle {
    font-family: "Rajdhani", sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 10%;
}

@media only screen and (min-width: 601px) {
    .projects {
        display: inline-block;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 0%;
        padding-left: 15%;
        width: 20%;
    }

    .projects .image__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        background: rgba(0, 0, 0, 0.6);
        color: #ffffff;
        font-family: 'Quicksand', sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
    }

    .image__overlay--blur {
        backdrop-filter: blur(5px);
    }

    .image__overlay--primary {
        background: #009578;
    }

    .image__overlay > * {
        transform: translateY(20px);
        transition: transform 0.25s;
    }

    .image__overlay:hover {
        opacity: 1;
    }

    .image__overlay:hover > * {
        transform: translateY(0);
    }
}

.projects .logos {
    display: block;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .projects {
        display: inline-block;
        padding-right: 5%;
        padding-top: 5%;
        padding-bottom: 0%;
        padding-left: 15%;
        width: 50%;
        justify-content: center;
    }

    .projects .image__overlay {
        display: none;
    }
    .subtitle {
        display: none;
    }
}