
.title-text {
    color: #4a4a4a;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    font-size: 2.625rem;
    padding-top: 10px; 
    margin-right: 20px; 
    margin-left: 20px; 
    width: 200px;
    float: left;
}

article {
    display: block;
}
.contact_photo {
    float: left;
}
.contacts {
    display: flex;
    flex-wrap: wrap;
    width:70%;
    padding-top: 10px;
    padding-bottom: 600px;
}

.row{
    width: 100%;
}

@media (max-width: 600px) {
    .contact {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .headshot{
        /* margin-top: 20px; */
    }
}

@media (min-width: 601px) {
    .row{
        display: flex;
        height: 10%;

    }

    
}

@media (min-width: 1050px) {
    .contacts {
        margin-right: 100px;
    }
}


.position {
    color: #4a4a4a;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
}

.contact_info {
    padding-left: 20px;
    width: 250px;
}

.contact {
    display: flex;
    -ms-flex-direction: row;
    padding: 50px;
    padding-right: 0;
}

.contact img {
    /* width: 100px; */
    padding-top: 5px;
    align-self: flex-start;
}
.major, .name, .team {
    font-family: "Helvetica Neue";
    font-size: 18px;
    color: #4a4a4a;
    font-weight: 200;
    line-height: 1.5625rem;
    
}

.major {
    font-style: italic;
}
.links img{
    width: 21px;
    height: 21px;
    padding-right: 5px;
}

.links a{
    font-size: 15px;
    padding-bottom: 5px;
    vertical-align: 6px;
    color: #3F9B8F;
    padding-right: 5px;
    text-decoration: none;
}



@media (max-width: 1050px) {
    .title-text{
        display: none;
    }
    main, .contacts{
        width: 100%;
    }

    .row {
        width: 100%;
    }

    .contact img{
        width: 30%;
        height: max-content;
    }

    .contact {
        width: 50%;
    }

    .links img{
        width: 15px;
        height: 15px;
        padding-right: 5px;
    }
    
    .links a{
        font-size: 15px;
        padding-bottom: 5px;
        vertical-align: 6px;
        color: #3F9B8F;
        padding-right: 5px;
        text-decoration: none;
    }
}

@media (max-width: 800px){
    .contact {
        flex-direction: column;
        padding-left: 25px;
        padding-bottom: 10px;
    }

    .row {
        padding-left: 10px;
    }

    .contact img {
        width: 80%;
    }


    .contact_info {
        padding: 0;
        padding-top: 10px;
        width: 200px;
    }

    .name {
        font-size: 18px;
    }

    .major, .position, .team {
        font-size: 16px;
    }

    .links img{
        width: 21px;
        height: 21px;
        padding-right: 5px;
    }
    
    .links a{
        font-size: 15px;
        padding-bottom: 5px;
        vertical-align: 6px;
        color: #3F9B8F;
        padding-right: 5px;
        text-decoration: none;
    }
}