@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.parallax {
  position: relative; 
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  align-items: center; 
}

.parallaxContainer {
  width: 100%;
  height: 75%; 
}

.caption {
  position: absolute; 
  top: 50px; 
  left: 200px; 
  font-size: 75px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 0.5px 0.5px black;
}

.caption2 {
  font-size: 30px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 1px 1px black;
}