/* Layout when screen is >1200 px */

/* CSS for overview component */ 

.title{
    background-image: url("cornelltech2.jpg");
    background-repeat: no-repeat;
    height: 400px;
    line-height: 400px;
    text-align: center;
}

.h1 {
    border-style: solid;
    border-color: #f2f3f3;
}

.text {
    color:#f2f3f3;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    padding-top: 90px;
    margin-left: 8%;
    margin-right: 8%;
    text-rendering: optimizeLegibility;
    font-size:3.5rem;   
    text-shadow: 0.2vw 0.2vw rgb(29, 68, 48);
    -webkit-text-stroke-width: 0.3vw;
    -webkit-text-stroke-color: rgb(29, 68, 48);

.flex-container {
    flex-direction: row;
}
    
}
@media screen and (min-width: 475px) {
    .flex-container{   
        display:flex;
    }

    .purposeText {
        padding-left: 30px;
        margin-left: 30px;
    }
    
}

@media screen and (max-width: 474px) {

    .purposeText {
        margin-right: 30px;
    }

}

.flex-child{
    background-color: white;   
} 

.flex-child-video {
    background-color: white;   
} 

.flex-child.quote{
    margin: 11px;
    background-image: url("CUSD_abt_mobile.png");
    background-repeat: no-repeat;
    width: 65%;
    background-size: contain;
    
}


.founder {
    padding-top: 20px; 
    font-style: italic; 
}

.flex-child.purpose {
    width: 35%;
}

.purposeDiv {
    margin-top: 30px; 
}

.purposeText{
    display: flex;
    flex-direction:column;
    margin-right: 20px;
    padding-right: 15px;
}

.purposeTitle {
    color: #4a4a4a;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
    text-rendering: optimizeLegibility;
    font-size:2.5rem;   
}

.purposeDescription {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    text-rendering: optimizeLegibility;
    color: rgb(100, 100, 100);
}

/* CSS for values component */
.flex-child.values{
    background-image: url("cusdwind.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 250px;
    line-height: 400px;
    text-align: center;
}

.valuesCaption { 
    font-size: 3rem; 
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    line-height: 1.2;
    margin-top: 135px; 
    margin-left: 200px; 
}

.wholeValuesImg {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-right: 0px; 
}

.column {
    flex: 25%; 
    max-width: 25%; }
   
.frame {
    height: 10rem; 
    vertical-align: middle;
    text-align: center; 
}

.frame:hover{
    background-color: black; 
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.bk1 {
    background-color: #74C365;
}

.bk2 {
    background-color: #008A6F;
}

.bk3 {
    background-color: #73B2AD;
}

.indValuesImg {
    padding-top: 10px; 
    height: 70%; 
    width: 80%; 
}

.caption {
    font-size: 1.2rem; 
    margin-top: 2px; 
    color: white; 
}

/* CSS for videooverview component */
.flex-child-video.storyquote{
    background-color: #f2f3f3; 
}

.storiesDiv {
    margin-top: 50%; 
    margin-left: 20%; 
    margin-right: 20%; 
}

.flex-child-video.storypurpose {
    margin-right: 3%; 
}

.storiesText {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 10px;
    text-rendering: optimizeLegibility;
    font-size: 1.5rem;
    text-align: left; 
    align-items: center; 
}

/* Layout when screen is 800<x<1200 px*/
@media screen and (min-width: 800px) {

.quoteDiv {
    margin-left: 50px; 
    margin-right: 50px; 
}

.purposeText {
    margin-left: 20px; 
}

.flex-child.quote {
    background-image: url(abt-big.png);
}
/* Values component */

.valuesCaption { 
    color: #4a4a4a;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
    text-rendering: optimizeLegibility;
    font-size:1.5rem;   
}

.wholeValuesImg {
    display: flex;
    flex-wrap:nowrap;
    padding: 0 4px;
}

.column {
    flex: 50%; 
    max-width: 50%; }
   
.frame {
    height: 10rem; 
}

.caption {
    font-size: 0.3px; 
}
/* Videooverview component, TODO */

}

/* Layout when screen is <=700 px*/
@media screen and (max-width: 700px) {

    /* Overview component */ 
  
    .flex-child.purpose {
        padding-right: 10px;  
    }

    .flex-container {
        flex-direction: column;
    }

    
    .flex-child.quote{
        margin: 0px;
        background-image: url("CUSD_abt_mobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 1100px;
    }

    .purposeDescription {
        width: 300px;
    }

   
    /*Values component */ 

    .valuesCaption {
        font-family: "Montserrat", sans-serif;
        font-size: 4rem; 
        margin-top: 20px; 
        margin-left: 20px; 
        text-align: center;
        margin-top: 200px;
    }
    
    .wholeValuesImg {
        margin-right: 0px; 
    }
    
    .column {
        flex: 100%; 
        max-width: 100%; }
       
    
    .frame {
         height: 15rem; 
        }
    
    .caption {
        font-size: 1.5rem; 
    }
    /* Videooverview component, TODO */ 
}

.animate {
    animation: fadeIn 1.5s infinite alternate;
}

.caption {
    font-size: 1.5rem;
}