/* Layout when screen is >1200 px */

/* CSS for overview component */ 


@media screen and (min-width: 475px) {
    .flex-container{   
        display:flex;
    }

    .quoteDiv {
        margin-top: 100px; 
    }

    .quoteText {
        margin-top: 10px;
    }
    
    .flex-child-video.storypurpose {
        width: 200%;
    }
}

@media screen and (max-width: 474px) {
    .flex-container{  
        flex: none; 
    }

    .quoteDiv {
        margin-top: 0;
    }

    .quoteText {
        margin-top: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .flex-child-video.storyquote {
        margin-top: 0;
        padding-top: 10px;
        padding-bottom: 30px;
    }


}

.flex-child{
    flex: 1; 
    background-color: white;   
} 

.flex-child-video {
    background-color: white;   
} 

.flex-child.quote{
    background-color: #f2f3f3; 
}

.quoteDiv {
    margin-left: 100px; 
    margin-right: 100px; 
}

.quoteText {  
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
    font-size: 1.5rem;
    text-align: left; 
    align-items: center; 
}

.founder {
    padding-top: 20px; 
    font-style: italic; 
}

.flex-child.purpose {
    padding-right: 300px;  
}

.purposeDiv {
    margin-top: 30px; 
}

.purposeText{
    width: 90%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-left: 70px; 
}

.purposeTitle {
    color: #4a4a4a;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
    text-rendering: optimizeLegibility;
    font-size:2.5rem;   
}

.purposeDescription {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 10%;
    text-rendering: optimizeLegibility;
    align-items:stretch;
    color: rgb(100, 100, 100);
}

/* CSS for values component */
.flex-child.values{
    background-color: white;
}

.valuesCaption { 
    font-size: 3rem; 
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 200;
    line-height: 1.2;
    margin-top: 135px; 
    margin-left: 200px; 
}

.wholeValuesImg {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-right: 200px; 
}

.column {
    flex: 25%; 
    max-width: 25%; }
   
.frame {
    height: 10rem; 
    vertical-align: middle;
    text-align: center; 
}

.frame:hover{
    background-color: black; 
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.bk1 {
    background-color: #74C365;
}

.bk2 {
    background-color: #008A6F;
}

.bk3 {
    background-color: #73B2AD;
}

.indValuesImg {
    padding-top: 10px; 
    height: 70%; 
    width: 80%; 
}

.caption {
    font-size: 1.2rem; 
    margin-top: 2px; 
    color: white; 
}

/* CSS for videooverview component */
.flex-child-video.storyquote{
    background-color: #f2f3f3; 
}

.storiesDiv {
    margin-top: 50%; 
    margin-left: 20%; 
    margin-right: 20%; 
}

.flex-child-video.storypurpose {
    margin-right: 3%; 
}

.storiesText {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 10px;
    text-rendering: optimizeLegibility;
    font-size: 1.5rem;
    text-align: left; 
    align-items: center; 
}

/* Layout when screen is 800<x<1200 px*/
@media screen and (max-width: 1200px) {

.quoteDiv {
    margin-left: 50px; 
    margin-right: 50px; 
}

.flex-child.purpose {
    padding-right: 100px; 
}

.purposeText {
    margin-left: 30px; 
}

/* Values component */

.valuesCaption { 
    font-size: 4rem; 
    margin-top: 235px; 
    margin-left: 50px; 
}

.wholeValuesImg {
    margin-right: 50px; 
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%; 
    max-width: 50%; }
   
.frame {
    height: 10rem; 
}

.caption {
    font-size: 1.5rem; 
}
/* Videooverview component, TODO */

}

/* Layout when screen is <=800 px*/
@media screen and (max-width: 800px) {

    /* Overview component */ 
    .quoteDiv {
        margin-left: 20px; 
        margin-right: 20px; 
    }
    
    .quoteText {  
        font-size: 1.75rem;
    }

    .flex-child.purpose {
        padding-right: 10px;  
    }

    .purposeText {
        margin-left: 20px; 
    }

    /*Values component */ 

    .valuesCaption {
        font-size: 4rem; 
        margin-top: 35px; 
        margin-left: 30px; 
    }
    
    .wholeValuesImg {
        margin-right: 0px; 
    }
    
    .column {
        flex: 100%; 
        max-width: 100%; }
       
    
    .frame {
         height: 15rem; 
        }
    
    .indValuesImg {
         padding-top: 20px;
     }
    
    .caption {
        font-size: 1.5rem; 
    }
    /* Videooverview component, TODO */ 
}