.connectwithus {
  background-color: rgb(168, 224, 210);
  height: 230px;
}
.connecticons {
  border-top: 0.7px solid black;
  padding-top: 20px;
}
.eachicon {
  padding-top: 5px;
  vertical-align: auto;
  margin-left: 30%;
  padding-bottom: 5px;
}

.images {
  margin-left: 80px;
  background-color: rgb(168, 224, 210);  

} 

.images:hover {
  background-color: transparent; 

  filter:drop-shadow(2px 2px 3px black)
}

.header {
  font-size: 25px;
  font-weight: 400;
  margin-left: 15%;
  margin-bottom: 20px;
}

.copyright {
  margin-left: 60%;
  font-weight: 100;
}

