nav {
  margin: 0 auto;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: row;
  max-height: 92px;
}
.HamburgerMenu {
  display: none;
}
.leftwrap {
  display: flex;
  margin-right: 10rem;
  flex-direction: row;
}

.img {
  float: left;
  max-height: 3.75rem;
  margin: 1rem 10px;
  height: 60px;
  width: 60px;
}

.header {
  float: left;
  margin: 1.375rem 0 1.375rem 0;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-weight: 300;
  color: #888888;
  display: block;
  text-align: left;
}

.rightwrap {
  display: flex;
  flex-direction: row;
}

.navA {
  display: block;
  color: #888888;
  padding: 2.125rem 1.5rem;
  width: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  text-align: center;
}

.navA:link {
  text-decoration: none;
}

.navA:visited {
  text-decoration: none;
}

.joinButton {
  width: 9.5rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 2.12rem;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5625rem;
}

.joinButtonInner {
  text-decoration: none;
  text-align: center;
  align-items: center;
  line-height: normal;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  width: 100%;
  background-color: #3f9b8f;
  border-color: #327c72;
  color: #ffffff;
  box-shadow: 0 0.0625rem 0.125rem 0 rgb(0 0 0 / 50%);
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
}

.joinButtonInner:visited {
  text-decoration: none;
}

.navA:hover {
  background-color: rgb(168, 224, 210);
  color: black;
}

@media (max-width: 650px) {
  .header {
    display: none;
  }
  nav {
    width: auto;
  }
  .rightwrap {
    display: none;
  }
  .HamburgerMenu {
    display: block;
    margin: auto;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 200px;
  }

  .HamburgerMenu:active {
    display: none;
  }
}
