 nav {
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  background-color: white;
  height: 90px;
}

nav a {
  padding-left: 150px;
  height: 100%;
  vertical-align: middle;
}
.Left {
  display: flex;
  flex-direction: row;
}

.Right {
  margin-left: 30%;
}
.header {
  display: flex;
  flex-direction: column;
}

a:link {
  background-color: white; 
  color: white;  
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
 background-color: rgb(168, 224, 210);  
}

a:visited {
  text-decoration: none;
  color: black;
  font-weight: lighter;
} 


nav img {
  padding-left: 200px;
  vertical-align: middle;
}

h1 {
  font-weight: lighter;
  font-style: normal;
  padding-left: 10px;
  font-size: small;
  font-size: 20px;
  font-family: "Rajdhani", sans-serif;
  margin: auto;
  font-size: auto;
} 
