 .weare {
  display: flex;
  flex-direction: row;
  background-color: rgb(240, 234, 234);
}

.left {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.image {
  flex-direction: column;
  margin-left: 200px;
}
.header {
  margin: auto;
  font-weight: 400;
  font-size: 30px;
  margin-left: 20%;
}

.para {
  margin: auto;
  margin-left: 20%;
  margin-top: 0%;
  font-size: 20px;
  font-weight: 100;
}

.link {
  margin: auto;
  margin-left: 20%;
}

@keyframes fadeIn { 
  from { opacity: 0; } 
}

.animate {
    animation: fadeIn 1.5s infinite alternate;
}
 
